<div class="tab action-container{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{#with tab}}
    <p class="notes">This dialog is used to update all the images in a system bestiary compendium, and update the associated tokens.</p>
    <div class="form-group">
        <label for="action">Actor Compendium</label>
        <div class="form-fields">
            <select name="compendium" data-dtype="String">
                {{selectOptions compendiums value="compendium"}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="action">Strict Names</label>
        <div class="form-fields">
            <input type="checkbox" name="strict-name" />
        </div>
    </div>
    <div class="form-group">
        <label for="action">Allow Wildcards</label>
        <div class="form-fields">
            <input type="checkbox" name="wildcards" />
        </div>
    </div>
    <div class="form-group">
        <label for="action">Avatar Folders</label>
        <div class="form-fields flexcol" style="flex-direction: column;">
            <div class="flexrow" style="width: 100%; margin: 0px;">
                <file-picker type="folder" name="avatar-folder.1" value="{{avatar-folder1}}"></file-picker>
            </div>
            <div class="flexrow" style="width: 100%; margin: 0px;">
                <file-picker type="folder" name="avatar-folder.2" value="{{avatar-folder2}}"></file-picker>
            </div>
            <div class="flexrow" style="width: 100%; margin: 0px;">
                <file-picker type="folder" name="avatar-folder.3" value="{{avatar-folder3}}"></file-picker>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label for="action">Token Folders</label>
        <div class="form-fields flexcol" style="flex-direction: column;">
            <div class="flexrow" style="width: 100%; margin: 0px;">
                <file-picker type="folder" name="token-folder.1" value="{{token-folder1}}"></file-picker>
            </div>
            <div class="flexrow" style="width: 100%; margin: 0px;">
                <file-picker type="folder" name="token-folder.2" value="{{token-folder2}}"></file-picker>
            </div>
            <div class="flexrow" style="width: 100%; margin: 0px;">
                <file-picker type="folder" name="token-folder.3" value="{{token-folder3}}"></file-picker>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label for="action">Sound Folder</label>
        <div class="form-fields flexcol" style="flex-direction: column;">
            <div class="flexrow" style="width: 100%; margin: 0px;">
                <file-picker type="folder" name="sound-folder" value="{{sound-folder}}"></file-picker>
            </div>
        </div>
    </div>
    <button type="button" class="convert" data-action="convert">
        Convert
    </button>
    {{/with}}
</div>